@font-face {
  font-family: "olp_icons";
  src:url(/fonts/OLP_icons.ttf);
}
@font-face { /* no this server is not running Ubuntu, what are you even thinking?! */
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/Ubuntu-R.ttf) format('truetype');
}
@font-face { /* no this server is not running Ubuntu, what are you even thinking?! */
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: bolder;
  src: url(/fonts/Ubuntu-B.ttf) format('truetype');
}
@font-face { /* no this server is not running Ubuntu, what are you even thinking?! */
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: lighter;
  src: url(/fonts/Ubuntu-L.ttf) format('truetype');
}

@font-face { /* no this server is not running Ubuntu, what are you even thinking?! */
  font-family: "Ubuntu";
  font-style: bold;
  font-weight: inherit;
  src: url(/fonts/Ubuntu-M.ttf) format('truetype');
}


header .top_panel_element{
  font-size: 25pt;
  font-family: "Ubuntu";
  font-weight: normal;
}

header .active{
  font-size: 30pt;
  font-family: "Ubuntu";
  font-weight: bold;
  background: var(--bg-color);
  margin-top: 30px;
  border-radius: 15px 15px 0px 0px;
}

body {
  font-family: "Ubuntu";
  margin: 0px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--color);
}

header {
  padding-left: 10px;
  flex-grow: 0;
  height: 80px;
  background: url(/img/header_bckgr.svg);
  background-position: center;
  background-color: var(--accent-bg-color);
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

header .top_panel_element{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40pt;
}

main{
  flex-grow: 1;
}

footer {
  display: flex; /* or inline-flex */
  flex-grow: 0;
  height: 70px;
}

footer #bottom_left_button,
footer #bottom_right_button {
  width: 90px;
  height: 100%;
  flex-grow: 0;
  background: var(--accent-bg-color);
  text-align: center;
  color: var(--interactable-color);
  font-family: "olp_icons";
  font-size: 55px;
  line-height: 60px;
  user-select: none;
}

footer #bottom_panel {
  width: 300px;
  height: 100%;
  flex-grow: 1;
  background: var(--color);
}
